@font-face {
	font-family: 'PlumbC';
	src: url('../fonts/Plumb/PlumbC.ttf');
	src: local('PlumbC'), local('PlumbC'),
		url('../fonts/Plumb/PlumbC.otf') format('opentype'),
		url('../fonts/Plumb/PlumbC.ttf') format('truetype');
	font-style: normal;
}
@font-face {
    font-family: 'PlumbC-Bold';
    src: url('../fonts/Plumb/PlumbC-Bold.ttf');
    src: local('PlumbC-Bold'), local('PlumbC-Bold'),
        url('../fonts/Plumb/PlumbC-Bold.otf') format('opentype'),
        url('../fonts/Plumb/PlumbC-Bold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

