@import"fonts.css";



body{
	background: url(../img/main-background.png);
	background-repeat:repeat;
	overflow-x: hidden;
	font-family: "PlumbC";
	padding:0;
	margin:0;
	height: auto;
/*-webkit-user-select: none;
-moz-user-select: none;*/
}

h1,h2,h3,h4,h5,h6,p,span {
	transition: .3s;
}

.left-footprint{
	width: 45px;
	height: 80px;
	-webkit-transform: rotate(180deg);
	        -ms-transform: rotate(180deg);
	    transform: rotate(180deg);

}

.h1_rof{
	font-size: 100px;
	font-family: 'PlumbC-Bold';
	color: #3e3d42;
	line-height: 90px;
	margin-bottom: 60px;
	
}

.h2_bold_dark{
	font-size: 50px;
	font-family: 'PlumbC-Bold';
	color: #3e3d42;
	line-height: 60px;
	margin: 0;
}

.h2_green{
	color: #99cf29;
	font-size: 50px;
	font-weight: 400;
}

.h3_bold_dark{
	font-size: 30px;
	font-family: 'PlumbC-Bold';
	color: #3e3d42;
	line-height: 30px;
		text-transform: uppercase;
		margin-right: -15px;
}
.h3_green_light{
font-size: 36px;
color: #557704;
line-height: 60px;
 margin-bottom: -15px;
 margin-top: 0;
 font-weight: 300;
}

.h3_dark_light{
font-size: 36px;
color: #72707f;
line-height: 60px;
 margin-bottom: -15px;
 margin-top: 0;
}

.p_level{
font-size: 20px;
font-family: 'PlumbC';
line-height: 28px;
color: #3e3d42;
max-width: 365px;
}

.p_level_submain{
font-size: 14px;
font-family: 'PlumbC';
line-height: 22px;
color: #72707f;

}
.copyright{
	font-size: 12px;
	line-height: 22px;
	color: #ffffff;
}

main{
	position: relative;
	margin-bottom: 100px;

}
.fixed{
	width: 200px; position: fixed; bottom: 50px;
	z-index: 999;
	/* opacity: 0; */
}


.container{
	position: relative;
	max-width: 970px;
	margin:0 Auto;
}
.container-fluent{
	position: relative;
	max-width: 1230px;;
	margin:0 Auto;
}
.header_content{
	max-width: 1230px;
	margin: 10px Auto 0;
}
.dropdown-item:hover, .dropdown-item:focus {
	color: #557704 !important;
}
nav{
	
}

nav>ul{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	list-style: none;
}

nav .nav-link{
	text-decoration: none;
	color: #3e3d42 !important;
	line-height: 3rem;
	text-align: center;
}

nav ul li.active>.nav-link, nav .nav-link:hover{
	color: gray !important;
}
.navbar-expand-lg .navbar-collapse {
	justify-content: end;
}
.navbar-expand-lg .navbar-nav {
	padding-top: 1rem;
}
.navbar-expand-lg .navbar-nav .nav-link {
	padding-right: 0.8rem !important;
}
.navbar-light .navbar-toggler {
	margin-right: 2rem;
}
.navbar-collapse.collapse.show .navbar-light{
	background-color:  #ffffff !important;
}
.take_content h4{
	font-size: 27px;
	font-family: 'Georgia';
	font-style: italic;
	color: #72707f;
	line-height: 36px;
	padding-bottom: 10px;
	font-weight: 500;
}
.take_content p>span{
	font-style: normal;
	font-weight: bold;
}
.take_content{
	text-align: center;
	padding:20px 10px 55px 10px;

}

.level_main{
	max-width: 400px;
	padding: 0 0 0 52%;
}


.level_submain{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
		padding-left:41%;
}

.hr_submain{
background-color: #72707f;
height: 1px;
border: none;
margin-bottom: 6%;

}
.circle_img{
	display: grid;
  cursor: pointer;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-background-size: cover;
          background-size: cover;
  -webkit-transform: scale(1);
          -ms-transform: scale(1);
      transform: scale(1);
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

.circle_img:hover{
		background-color: rgba(109, 160, 50, 0.2);
	-webkit-transform: scale(0.95);
	        -ms-transform: scale(0.95);
	    transform: scale(0.95);
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s; }


.text-submain{
	padding-left: 25px;
	padding-right: 126px;
}


.steps{
	position: relative;
}

.ground{
	position: absolute;
	width: auto;
	height: auto;
}
.footer_content{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding-bottom: 50px;
	border-bottom: 1px solid #48474c;
	flex-flow: wrap;
}
.all_footer{
	max-width: 1000px;
	margin:0 Auto;

}
.copyright_content{
	padding:20px 0 25px 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}
footer{
/*height: 600px;
min-height: 600px;
background:url(../img/footer.svg);
background-repeat: no-repeat;
background-position: top center;
-webkit-background-size: cover;
        background-size: cover;*/
background-color: #3e3d42;
}
footer:before {
    background: inherit;
    content: '';
    display: block;
    height: 90%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    top: 0;
    transform: skewY(-4deg);
    transform-origin: -30% 0;
    border-top: 20px solid #29292d;
}
.footer_content>.about{
	max-width: 470px;
}
.footer_content>.contact{
	max-width: 480px;
}

.footer_content a {
	color: #dd4e4e;
	font-size: 14px;
	line-height: 22px;
	text-decoration: none;
}
.footer_content a:hover {
	color: red;
	text-decoration: underline;
}

.footer_content>.about p{
color: #ffffff;
font-size: 20px;
line-height: 28px;
font-weight: normal;
}

.img-in-level{
    padding: 0;
    margin: 0;
    min-height: 100%;
    min-width: : 100%;
}
.social_footer a{
	padding-left: 10px;
}
.social_footer a img{

	transition: 0.2s;
}
.social_footer a:hover img{
	transform: scale(1.2);
	transition: 0.2s;
}
.back-image{
width: 100%;
padding: 0;
margin: 0;
min-height: 100%;
position: absolute;
overflow: visible;
z-index: 0;
}

.position_back {
    position: absolute;
    width: auto;
    height: auto;
    z-index: 1;
}
.background{
	position: relative;
}

.girls { 
	max-width: 1000px;
	margin:0 Auto;

}

.hidden {
	display: none;
}


.animation{
	-webkit-animation-duration: 0.5s;
animation-duration: 0.5s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}



/*@media*/
@media screen and (min-width: 1921px) {

	footer:before{
	transform-origin: -20% 0;
	transform: skewY(-3deg);
	}	
}


@media screen and (min-width: 1601px) {

	p,a{
		font-size:19px !important;
	}


	
}
@media screen and (max-width: 1000px) {
	.level_submain{
	flex-flow: wrap;
	}
	.footer_content{
		justify-content: center;
		text-align: center;
	}
	.copyright_content{
		justify-content: space-around;
	}
}
@media screen and (max-width: 600px) {
	h1 {
		font-size: 4em !important;
	}
	.girls {
		display: none;
	}
	.level_main,.level_submain {
		padding: 4%;
		margin: 0 auto;
		display: flex;
		justify-content:center;
		flex-direction: column;
	}
	.ground {
		transform: scale(0.8) !important;
	}
	.text-submain {
		padding:0 !important;
	}
}
@media screen and (min-width: 1100px) {
.navbar-expand-lg .navbar-collapse {
	display: none !important;
}
}
